input{
    margin-bottom: 15px;
    width: 200px;
    height: 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px gray;
    border: 1px solid black;
}
label{
    display: block;
}
input:focus{
    background-color:lightgray;
    border: 2px;
}
button:hover{
   background-color: red;
   opacity: 0.5;
}
button{
    cursor: pointer;
    border-radius: 10px;
    width: 60px;
    height: 30px;
    transition: 0.3s;
    opacity: 1;
}